@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DK+Loopet:wght@100..400&family=Poppins:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    /* background-color: rgb(255, 255, 255); */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

